* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    height: 75px;
    background-color: #222222;
}
ul {
    list-style-type: none;
}
.header_box {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_icons, .right_nav {
    display: flex;
    align-items: flex-end;
}
.left_icons {
    gap: 41px;
}
.right_nav {
    gap: 33px;
}
.top {
    height: 770px;
    background-color: #F1E4E6;
}
.top_box {
    display: flex;
    align-items: center;
}
.right_top {
    width: 50%;
    flex-grow: 1;
    height: 764px;
    text-align: center;
}
.left_top {
    width: 50%;
    height: 764px;
    flex-grow: 1;
}
.label_header {
    text-align: left;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.label_text {
    color: #222;
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
}
.fasion {
    color: #F16D7F;
}
.label {
    margin-top: 290px;
    display: inline-block;
    padding-left: 16px;
    border-left: 16px solid #F16D7F;
}
.offer_flex{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 30px;
}
.offer_top {
    display: flex;
    gap: 30px;
}
.offer_images{
    display: block;
    text-decoration: none;
    position: relative;
}
.offer_images .offer_text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.offer_text{
    text-align: center;
}
.top_text{
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.bottom_text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.subtitle_main {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin-top: 95px;
    text-align: center;
}
.card_box {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    gap: 30px;
}
.card {
    background-color: #F8F8F8;
}
.fone_card {
    height: 420px;
    background-color: #F7E4E2;
}
.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text_main {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 48px;
}
.card_title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 13px;
    margin-left: 16px;
}
.text_title {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    margin-left: 16px;
    margin-right: 29px;
}
.price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 16px;
}
.button_main {
    margin-top: 48px;
    width: 212px;
    height: 48px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.features {
    min-height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
}
.features-box {
    display: flex;
}
.features__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__icon1{
    margin-bottom: 28px;
}
.features__icon2{
    margin-bottom: 19px;
}
.features__icon3{
    margin-bottom: 25px;
}
.features__subtitle {
    margin-bottom: 16px;
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
}
.features__text {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
}
.subscription {
    min-height: 448px;
    background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/subscription_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscription-flex {
    display: flex;
    justify-content: space-between;
}
.subscription__figure {
    text-align: center;
}
.figure__img {
    margin-bottom: 30px;
    margin-top: 97px;
}
.figure__text {
    width: 360px;
    color: #222224;
    font-size: 20px;
    font-weight: 400;
}
.box-form {
    width: 50%;
    text-align: center;
}
.box-form__subtitle {
    margin-top: 150px;
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}
.box-form__text {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    margin-bottom: 32px;
}
.form__input {
    width: 322.59px;
    height: 49px;
    border-radius: 50px 0 0 50px;
    border-width: 0;
    background-color: #E1E1E1;
    padding-left: 22px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
}
.form__button {
    width: 100px;
    height: 49px;
    border-radius: 0 50px 50px 0;
    border-width: 0;
    background-color: #F16D7F;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -90px;
}
.copyright {
    background-color: #222224;
}
.copyright-flex{
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FBFBFB;
}
.copyright__text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.copyright__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.451px;
    height: 32px;
    background-color: #FFF;
}
.copyright__links {
    display: flex;
    gap: 8px;
}


@media (max-width: 1024px) {
    .container {
        max-width: 735px;
        margin: 0 auto;
    }
    .top_image {
        width: 210px;
    }
    .label_header {
        font-size: 44px;
    }
    .label_text {
        font-size: 24px;
    }
    .label {
        margin-top: 138px;
    }
    .top {
        height: 385px;
    }
    .offer_top {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 231px);
        gap: 19px;
        width: 100%;
    }
    .offer_top img {
        width: 100%;
    }
    .offer_long_img {
        width: 735px;
    }
    .offer_flex {
        gap: 20px;
    }
    .subtitle_main {
        margin-top: 155px;
    }
    .card_box {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 16px;
    }
    .button_main {
        margin-top: 32px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .none {
        display: none;
    }
    .header_box {
        padding-left: 16px;
        padding-right: 16px;
    }
    .label_header {
        font-size: 38px;
    }
    .label_text {
        font-size: 20px;
    }
    .label {
        margin-top: 148px;
    }
    .offer_flex {
        padding-left: 16px;
        padding-right: 16px;
        gap: 32px;
    }
    .offer_top {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 32px;
        width: 100%;
    }
    .offer_long_img {
        width: 100%;
        height: 111px;
        object-fit: cover;
    }
    .subtitle_main {
        margin-top: 64px;
    }
    .card_box {
        grid-template-columns: repeat(1, 359px);
        grid-template-rows: repeat(3, 581px);
        gap: 16px;
        margin-left: 8px;
        margin-right: 8px;
        justify-content: center;
    }
    .button_main {
        margin-top: 40px;
    }
}
